@model PetGuardians.Entities.Message

@{
    ViewData["Title"] = "Wyślij wiadomość";
}

<h2>Wyślij wiadomość do @($"{Model.To.FirstName} {Model.To.LastName}")</h2>

<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Body" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Body" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Body" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Wyślij" class="btn btn-default" />
            </div>
        </div>
        <input hidden name="To.Id" value="@Model.To.Id" />
    </div>
</form>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
