@model MessagesIndexVm

@{
    ViewBag.Title = "moje wiadomości";
}

<h2>Wiadomości</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                treść
            </th>
            <th>
                data wysłania
            </th>
            <th>
                użytkownik
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentTime)
                </td>
                <td>
                    @($"{item.From.FirstName} {item.From.LastName}")
                </td>
                <td>
                    <a href="wiadomosci/nowa/@item.From.Id" class="btn btn-default">napisz</a>
                </td>
            </tr>
        }
    </tbody>
</table>
