@{
    ViewData["Title"] = "O mnie";
}
<h2>@ViewData["Title"].</h2>

<p>Projekt powstał na potrzebe zaliczeia przedmiotu Inżynieria oprogramowania.</p>
<h3>Dane studenta: Marcin Urban w53548 - 5IIZ</h3>