@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>

<address>
    Marcin Urban<br />
    Łańcut<br />
    <abbr title="Phone">Telefon:</abbr>
    793-512-380
</address>

<address>
    <strong>Pytania:</strong> <a href="mailto:marcinn.urban@gmail.com">marcinn.urban@gmail.com</a><br />
</address>
